.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	text-align: center;
}
.grid a {
	width: 150px;
	text-decoration: none;
}
.grid img {
	border: none;
	padding: 0;
	margin: 0;
	height: 150px;
	width: 150px;
}
.item {
	width: 150px;
}
