html {
	height: 100%;
}
body {
	height: 100%;
	background-image: url('/img/background.gif');
	background-attachment: fixed;
	background-color: #000000;
	background-repeat: round;
	background-size: 100% 100%;
	background-position: center;
	color: #ffffff;
	font-family: monospace;
	margin: 0;
}
::selection {
	color: #000000;
	background: #ffffff;
}
/* firefox */
::-moz-selection {
	color: #ffffff;
	background: #7688A988;
}
hr {
	border-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	margin: 20px auto 20px auto;
}
a {
	color: #ffffff;
	text-decoration: underline;
}
a:hover {
	color: #7688A9;
}
a:active {
	color: #9D72A9;
}

table {
	width: 100%;
	border-collapse: collapse;
}
td {
	padding: 4px;
}
tr:nth-child(even) {
	background-color: #222222;
}
audio {
	width: 100%;
	padding: 8px;
	border: 2px solid #fffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	padding: 8px;
	border: 2px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
video {
	max-width: 100%;
	padding: 8px;
	border: 2px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
iframe {
	max-width: 100%;
	padding: 8px;
	border: 2px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tableleft {
	text-align: left;
}
.tableright {
	text-align: right;
}
#pagetitle {
	text-align: center;
}
#pagetitle a {
	text-decoration: none;
}
#pagetitle img {
	height: 40px;
	border: none;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#content {
	height: 100%;
	border: 2px solid #ffffff;
	margin: 30px 120px;
	padding: 12px;
}
.navbar {
	/*border: 2px solid #ffffff;*/
	display: inline-block;
	text-align: center;
	list-style-type: none;
	padding: 0;
	width: 100%;
}
.navbar li {
	display: inline-block;
	list-style-type: none;
}
.navbar a {
	color: #fffffff;
	display: block;
	padding: 8px 32px 8px 32px;
	text-decoration: none;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}
.navbar a:hover {
	color: #ffffff;
	background: #7688A988;
}
.navbar a:active {
	color: #fffffff;
	background: #9D72A9dd;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.fitwidth {
	width: 100%;
}
#header hr {
	margin-top: 0;
}
#header a {
	letter-spacing: 0.5em;
}
#body {
	padding-left: 8px;
	padding-right: 8px;
}
#footer {
	position: absolute;
	bottom: -50px;
	padding-left: 8px;
	padding-right: 8px;
}
