.modalwindow {
	background: #00000088;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;

	text-align: right;
}
.modalwindow:target {
	opacity: 1;
	pointer-events: auto;
}
.modalwindow > div {
	width: 70%;
	height: auto;
	position: relative;
	margin: 10% auto;
	background: #000000dd;
}
.close {
	width: auto;
	position: absolute;
	top: 8px;
	right: 8px;
}
